.main{
    display: flex;
    flex-direction: column;
}

.pokemon{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 15%;
    border: solid 2px;
    border-radius: 5px;
    margin: 1%;
}



.pokeImage {
  width: 100%;
  height: auto;
}

.pokeDetail{
    text-align: center;
    margin: 0;
    border-top: solid 1px black ;
    text-transform: capitalize;
}

.pokeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
}

.removeButton {
    margin:2px;
    border-radius: 5px;
    background-color: yellowgreen;
}

.logout{
    margin: 0 auto;
    background-color: red;
    border-radius: 5px;
    width: 7rem;
    margin: 0 auto;
    justify-content: right;
}


@media only screen and (max-width: 900px) {
  .pokemon{
    width: 20%;
  }
}

@media only screen and (max-width: 800px) {
  .pokemon{
    width: 25%;
  }
}

@media only screen and (min-width: 600px) {
  h1, h3 {
    margin: 1rem 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .pokemon{
    width: 32%;
  }

  h1, h3 {
    margin: 1rem 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .pokemon{
    width: 50%;
  }
}
@media only screen and (max-width: 300px) {
  .pokemon{
    width: 100%;
  }
}
