<main class="main">
  <div *ngIf="trainer !== undefined" >
    <h1>Collected Pokemons</h1>
    <h3 >Trainer: {{ trainer.username }}</h3>
    <div class="pokeContainer">
      <div *ngFor="let item of  trainer.pokemon" class="pokemon">
        <img src="{{ item.avatar }}" height="96px" width="96px" class="pokeImage">
        <p class="pokeDetail"> {{ item.name }} </p>
        <button class="removeButton" (click)="removePokemon(item)">Remove Pokemon</button>
      </div>
      <p *ngIf="trainer.pokemon.length === 0" style="font-size: 2rem">You Haven't Collected Any Pokemon, Go, Go, Catch 'Em All</p>
    </div>
  </div>
</main>
