.nav{
    background-color: yellowgreen;
    padding: 1rem;
    border-bottom: 3px solid black;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px;
}

.nav-item{
    margin-right: 2rem;
    padding: 5px 2rem;
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
    background-color: blue;
    list-style-type: none;
    box-shadow: 2px 2px;
}

.nav-item:hover{
    background-color: rgb(0, 100, 255);
    cursor: pointer;
}

.nav-link{
    color: aliceblue;
    text-decoration: none;
}

.logout{
    margin: 0 auto;
    background-color: red;
    border-radius: 5px;
    width: 7rem;
    margin: 0 auto;
    justify-items: right;
}
