<main class="main">
  <div *ngIf="!isLoading">
    <h1>Gotta Catch 'Em All</h1>
    <div class="pokeContainer">
      <div *ngFor="let item of pokemons" class="pokemon">
        <img src="{{ item.avatar }}" height="96px" width="96px" class="pokeImage" [ngClass]="pokeExists(item)? 'pokeball' : 'pokeball:disabled'">
        <p class="pokeDetail"> {{ item.name }} </p>
        <button class="collectButton" (click)="collectPokemon(item)" [disabled]="pokeExists(item)">Collect
          Pokemon</button>
      </div>
    </div>
      <div class="button-container">
        <button *ngIf="!isLoadingPage" (click)="loadNewPage()" class="more-btn" id="more">Load More!</button>
      </div>
  </div>
</main>
