.pokemon{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 15%;
    border: solid 2px;
    border-radius: 5px;
    margin: 1%;

}

.pokeImage {
  width: 100%;
  height: auto;
  z-index: 1;
}

.pokeball{
  background-image: url("src/assets/pokeball.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 92;
}

.pokeDetail{
    text-align: center;
    margin: 0;
    border-top: solid 1px black ;
    text-transform: capitalize;
}

.pokeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
}

.collectButton {
    margin:2px;
    border-radius: 5px;
    background-color: yellowgreen;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 3rem;
}

.more-btn{
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
}

.collectButton:hover{
    cursor: pointer;
}

.more-btn:hover{
    cursor: pointer;
}

#more{
    background-color: white;
}


@media only screen and (max-width: 900px) {
  .pokemon{
    width: 20%;
  }
}

@media only screen and (max-width: 800px) {
  .pokemon{
    width: 25%;
  }
}

@media only screen and (min-width: 600px) {
  h1, h3 {
    margin: 1rem 4rem;
  }
}
@media only screen and (max-width: 600px) {
  .pokemon{
    width: 32%;
  }

  h1, h3 {
    margin: 1rem 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .pokemon{
    width: 50%;
  }
}
@media only screen and (max-width: 300px) {
  .pokemon{
    width: 100%;
  }
}
