.main{
    display: flex;
    flex-direction: column;
    margin: min(5%, 30px);
}

#input-container{
    background-color: antiquewhite;
    max-width: max(300px, 35%);
    padding: 1% 2%;
}

#username {
  width: calc(100% - 12px);
  margin-bottom: 6px;
}

#login{
    margin-top: 0.5rem;
    padding: 1rem 3rem;
}

#alert-box{
    margin-top: 0.5rem;
    padding: 0rem 1rem;
    border: 3px solid black;
    background-color: red;
}
