<main class="main">
  <h1>Login - Pokédex</h1>
  <p>Welcome to our awesome Pokédex, before you can use our app you will need to login.</p>

  <p *ngIf="trainer !== undefined"><b>Name of User: {{ trainer.username }}</b></p>
  <!-- <label for="username">Enter Your Name: </label>
  <input type="text" id="username" name="username" #username placeholder="Unknown">
  <button (click)="onLoginClick(username.value)" [disabled]="attempting">Save</button>-->

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <fieldset id="input-container">
      <label for="username" class="form-label">Username:</label>
      <input type="text"
             ngModel
             #username="ngModel"
             name="username"
             id="username"
             required
             minlength="2"
             maxlength="40"
             class="form-control" placeholder="Unknown">
    </fieldset>

    <section *ngIf="username.errors && (username.dirty || username.touched)">
      <div class="alert alert-danger" id="alert-box">
        <p class="d-flex align-items-center mb-0" *ngIf="username.errors.required">
          <span class="material-icons">warning</span>
          You need to enter a username
        </p>
        <p class="d-flex align-items-center mb-0" *ngIf="username.errors.minlength">
          <span class="material-icons">warning</span>
          The username you chose is too short
        </p>
      </div>
    </section>

    <button
      type="submit"
      [disabled]="attempting || loginForm.form.invalid"
      class="btn btn-primary d-flex align-items-center" id="login">
      <span class="material-icons">lock</span>
      Login
    </button>
  </form>

  <p *ngIf="attempting">Logging In, Please Wait.....</p>



</main>
